@font-face {
  font-family: "FiraCode Light";
  src: local("FiraCode Light"), local("FiraCode-Light"),
    url(../fonts/FiraCode-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode Regular";
  src: local("FiraCode Regular"), local("FiraCode-Regular"),
    url(../fonts/FiraCode-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode Medium";
  src: local("FiraCode Medium"), local("FiraCode-Medium"),
    url(../fonts/FiraCode-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode SemiBold";
  src: local("FiraCode SemiBold"), local("FiraCode-SemiBold"),
    url(../fonts/FiraCode-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode Bold";
  src: local("FiraCode Bold"), local("FiraCode-Bold"),
    url(../fonts/FiraCode-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
